In [132]:
family = ["Mom", "Dad", "Zainab", "Bilkisu", "Aminu", "Umar","Aliyu", "Abubakar", "Umma", "Hafsatu", "Hauwa", "maryam", "abdullah"]

In [133]:
male_members = {"Dad","Aminu","Umar","Aliyu","Abubakar","Abdul"}
female_member = {"Mom","Zainab","Bilkisu","Umma","Hafsa","Hauwa"}
print(male_members)

{'Aminu', 'Dad', 'Abubakar', 'Umar', 'Aliyu', 'Abdul'}

In [134]:
print(female_member)

{'Zainab', 'Umma', 'Bilkisu', 'Mom', 'Hafsa', 'Hauwa'}

In [135]:
print(family)

['Mom', 'Dad', 'Zainab', 'Bilkisu', 'Aminu', 'Umar', 'Aliyu', 'Abubakar', 'Umma', 'Hafsatu', 'Hauwa', 'maryam', 'abdullah']

In [136]:
a = 3
b = 10
c = a + b
print(c)

13

In [137]:
a = 5
b = 10
print(a + b)

15

In [138]:
fruits = ["mango", "banana", "grape", "berries", "strawberry", "lemon"]
print(fruits)

['mango', 'banana', 'grape', 'berries', 'strawberry', 'lemon']

In [139]:
bicycles = ["trek", "cannodale", "redline", "specialized"]
print(bicycles)

['trek', 'cannodale', 'redline', 'specialized']

In [140]:
personal_list = ["mango", "24", "3.14", True, "banana"]
print(personal_list)

['mango', '24', '3.14', True, 'banana']

indexing

In [141]:
print("The item in index 3 is;", personal_list[3])

The item in index 3 is; True

In [142]:
print("The last fruit is;",personal_list[4])

The last fruit is; banana

Accessing elelemts in a list

In [143]:
name = ["kabir", "umar", "abubakar", "ali"]
print(name[3].strip().title())

Ali

In [144]:

print("The second name is;", name[1].title())

The second name is; Umar

In [145]:
print("The third name is;", name[2].title())

The third name is; Abubakar

In [146]:
print("The second name and third name are",name[1] + " " + "and " + name[2]  + " respectively")

The second name and third name are umar and abubakar respectively

In [147]:
foods = ("rice","miller", "wheat", "maize")
print("The last item in the list is;", foods[-1].title())
print("The first item in the list is;", foods[-4].title())

The last item in the list is; Maize
The first item in the list is; Rice

In [148]:
print("The second item in the list is;", foods[-3].title())

The second item in the list is; Miller

In [149]:
bicycles

['trek', 'cannodale', 'redline', 'specialized']

In [150]:
change = bicycles
print("my first change is;", change[2])

my first change is; redline

changing, Adding, and Removing Elements

In [151]:
my_list = ["a"]
print(my_list)

['a']

In [152]:
my_list[0] = "b"
print(my_list)

['b']

In [153]:
motorcycles = ["honda","yamaha","suzuki"]
print("original motorcycles:", motorcycles)

original motorcycles: ['honda', 'yamaha', 'suzuki']

In [154]:
motorcycles[1] = "ducati"
print("updated motorcycles:", motorcycles)

updated motorcycles: ['honda', 'ducati', 'suzuki']

In [155]:
my_list
my_list.append("c")
print(my_list)

['b', 'c']

In [156]:
name = ["kabir", "umar", "abubakar", "ali"]
name.append("musa")
print(name)

['kabir', 'umar', 'abubakar', 'ali', 'musa']

In [157]:
attendance = []
attendance.append("sani")
attendance.append("auwal") 
attendance.append("kamal")
print(attendance)

['sani', 'auwal', 'kamal']

inserting elements in a list (.insert(index, value))

In [158]:
alpha = ["a", "b", "d", "e"]
alpha.insert(2,"c")
print(alpha)

['a', 'b', 'c', 'd', 'e']

In [159]:
num = list(range(1,5))
print(num)

[1, 2, 3, 4]

In [160]:
num.insert(4,5)
print(num)

[1, 2, 3, 4, 5]

In [169]:
courses = ["soil", "concrete", "steel", "geotech"]
courses.append("hydrology")
print(courses)

['soil', 'concrete', 'steel', 'geotech', 'hydrology']

In [171]:
courses.insert(2, "statistics") 
print(courses)

['soil', 'concrete', 'statistics', 'steel', 'geotech', 'hydrology', 'hydrology']

In [181]:
my_favourite = "enineering  mathematics"
courses.insert(1, my_favourite)
print(courses)

['soil', 'enineering  mathematics', 'concrete', 'statistics', 'steel', 'geotech', 'hydrology', 'hydrology']

In [186]:
del courses[7]
print(courses)

['soil', 'enineering  mathematics', 'concrete', 'statistics', 'steel', 'geotech', 'hydrology']

In [188]:
del courses[-7]
print(courses)

['enineering  mathematics', 'concrete', 'statistics', 'steel', 'geotech', 'hydrology']

In [189]:
fruits = ["mango", "banana", "grape", "berries", "strawberry", "lemon"]
print(fruits.pop())

lemon

In [190]:
print(fruits)

['mango', 'banana', 'grape', 'berries', 'strawberry']

In [191]:
popped_fruit = fruits.pop()
print(fruits)

['mango', 'banana', 'grape', 'berries']

In [192]:
courses = ["math","physics", "chemistry",]
removed_course = courses.pop()
print("The removed course is:", removed_course)
print(courses)

The removed course is: chemistry
['math', 'physics']

In [194]:
courses = ["soil", "concrete", "steel", "geotech"]
popped_course = courses.pop(1)
print("The popped_course is:", popped_course.title())

The popped_course is: Concrete

In [195]:
elements = ["hydrogen", "helium", "polymer", "carbon", "oxygen"]
print(elements)

['hydrogen', 'helium', 'polymer', 'carbon', 'oxygen']

In [196]:
elements.remove("polymer")
print(elements)

['hydrogen', 'helium', 'carbon', 'oxygen']

.sort() and .sorted() method

In [197]:
nums = [2,4,5,6,1,3]
nums.sort()
print(nums)

[1, 2, 3, 4, 5, 6]

In [198]:
nums

[1, 2, 3, 4, 5, 6]

In [199]:
nums.sort(reverse=True)
print(nums)

[6, 5, 4, 3, 2, 1]

In [200]:
social_media = ["facebook", "twitter", "instagram", "whatsapp", "telegram"]
print("social media:" , social_media)
social_media.sort()
print("sorted social media:",social_media)

social media: ['facebook', 'twitter', 'instagram', 'whatsapp', 'telegram']
sorted social media: ['facebook', 'instagram', 'telegram', 'twitter', 'whatsapp']

In [201]:
social_media

['facebook', 'instagram', 'telegram', 'twitter', 'whatsapp']

In [203]:
cars = ["chevrolete", "audi", "toyota", "marcedes"]
print("This is the original list:", cars )

cars.sort(reverse=True)
print("This is sorted list in reversed order:", cars)

This is the original list: ['chevrolete', 'audi', 'toyota', 'marcedes']
This is sorted list in reversed order: ['toyota', 'marcedes', 'chevrolete', 'audi']

SORTED

In [206]:
alpha = "d", "e", "a", "b", "c"
print("The original list:", alpha)
print("The temporarily sorted list is:",sorted(alpha))

The original list: ('d', 'e', 'a', 'b', 'c')
The temporarily sorted list is: ['a', 'b', 'c', 'd', 'e']

In [207]:
alpha

('d', 'e', 'a', 'b', 'c')

number of element in list len()

In [209]:
print("The lenths of alpha is:", len(alpha))
print("The exact number of fruits is;", len(fruits))

The lenths of alpha is: 5
The exact number of fruits is; 4

In [210]:
print("Actual number of cars is:", len(cars))

Actual number of cars is: 4

In [211]:
print("The total number of the family members are:", len(family))

The total number of the family members are: 13